/*
* @Author: Administrator
* @Date:   2017-05-15 11:29:27
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-15 12:11:02
*/
* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
}
.wrapper,.left_column,.main_column,.right_column {
    border: solid 1px #999; 
    padding: 20px;
    vertical-align: top;
}
.wrapper {
    background-color: #eee;
    position: relative;
}

.column {
    background-color: #fff;
    position: relative;
}
.left_column {
    width: 202px;
    text-align: center;
}
.main_column {
    margin: 0 162px 0 222px;
}
.right_column {
    width: 122px;
}
img {
    width: 80px;
    height: 80px;
}
figure {
    width: 80px;
    height: 120px;
    padding-bottom: 10px;
    margin: 0;
}
figcaption {
    text-align: center;
}