/*
* @Author: Administrator
* @Date:   2017-05-15 10:25:33
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-15 14:08:32
*/
* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
}
.wrapper,.left_column,.main_column,.right_column {
    border: solid 1px #999; 
    padding: 20px;
}
.wrapper {
    background-color: #eee;
    position: relative;
    overflow: auto;  // 清除浮动的技术之一
}
// 清除浮动的技术之二
.wrapper::after {
    content: " ";
    display: block;
    clear: both;
}
.float {
    float: left;
    width: 100%;
}
.column {
    background-color: #fff;
}
.main_column {
    margin: 0 142px 0 222px;
}
.left_column {
    width: 202px;
    text-align: center;
    margin-left: -100%;
}
.right_column {
    width: 122px;
    margin-left: -122px;
}
img {
    width: 80px;
    height: 80px;
}
figure {
    width: 80px;
    height: 120px;
    padding-bottom: 10px;
    margin: 0;
}
figcaption {
    text-align: center;
}