/*
* @Author: Administrator
* @Date:   2017-05-17 10:28:34
* @Last Modified by:   Thea Ao
* @Last Modified time: 2017-05-17 17:52:43
*/
body,div,section,article,p,header,footer,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 960px;
    height: 1386px;
    background-color: #ffffff;
    padding: 0 44px;
    font-family: SimHei, sans-serif;
    margin: 0 auto;
    border: solid 1px #938e8c;
    box-shadow: 2px 2px 2px #cccccc;
}
hr {
    width: 100%;
    background-color: #938e8c;
    height: 2px;
    border-style: none;
    margin: 0;
}