/*
* @Author: Administrator
* @Date:   2017-05-17 10:29:05
* @Last Modified by:   Thea Ao
* @Last Modified time: 2017-05-17 18:30:14
*/
.shade {
    width: 191px;
    height: 301px;
    opacity: 0.5;
    position: absolute; 
}
.green-shade {
    background-color: #428c59;
    top: 0;
    left: 0;
}
.red-shade {
    background-color: #cc7680;
    right: 0;
    top: 0;
}
.column {
    margin-top: 34px;
    padding-right: 25px;
    width: 255px;
}
.column-right {
    width: 131px;
}
.column-header {
    text-decoration: underline;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.header-green {
    color: #418c59;
}
.header-yellow {
    color: #d2994f;
}
.header-red {
    color: #cc7680;
}