/*
* @Author: Thea Ao
* @Date:   2017-05-22 09:34:33
* @Last Modified by:   Thea Ao
* @Last Modified time: 2017-06-12 09:17:42
*/
/* 各部分特有样式 */

/* header 部分 */
header .vertical-center-container {
    width: 100%;
    height: 100%;
}
div.logo {
    height: 33px;
    margin: 13px 59px;
}
.logo-icon {
    display: inline-block;
    margin-right: 10px;
}
.logo-text {
    vertical-align: 6px;
    font: 21px SimHei, "黑体", sans-serif;
    color: #393a3a;
}
ul.navigation {
    list-style-type: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 137px;
}
.nav-item {
    float: left;
    height: 100%;
    padding: 18px 15px;
    font-size: 14px;
    margin-left: 15px;
}
.nav-item a {
    color: #787b83;
    text-decoration: none;
}
.nav-item:hover {
    border-bottom: solid 5px #e74f4d;
    color: #e74f4d;
}
.sign-in {
    height: 17px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px 68px 24px 15px;
    color: #e74f4d;
}
.sign-in-icon {
    margin-right: 5px;
}
.sign-in-text {
    vertical-align: 3px;
}
/*第一部分*/
#section1 {
    background-color: #ededec;
    background-image: url(../images/pic_1.png);
    background-size: cover;
    width: 100%;
    height: 691px;    
}
#section1 .shade {
    background-color: rgba(4,0,0,0.2);
    width: 100%;
    height: 100%;
}
#section1 .vertical-center-container {
    text-align: left;
    margin-left: 126px;
}
#section1 p{
    font-size: 21px;
}
#section1 button{
    width: 331px;
    height: 65px;
    font-size: 30px;
    background-color: #e74f4d;
    margin-top: 65px;
}
/* 第二部分 */
#section2 {
    width: 100%;
    height: 250px;
}
#section2 .column {
    width: 25%;
}
#section2 .vertical-center-container {
    text-align: center;
}
#section2 .icon{
    margin-bottom: 48px;
}
#section2 .column p{
    padding: 0 80px;    
    font-size: 14px;
    line-height:  18px;
    color: #767777;
    border-right: solid 1px #767777;
}
#section2 .column:last-child p{
    border-right: none;
}
/*第三部分*/
#section3 {
    width: 100%;
    height: 360px;
    background-color: #ededec;
}
#section3 .vertical-center-container {
    text-align: center;
    width: 100%;
}
#section3 h2 {
    color: rgba(50,51,51,0.5);
}
/* 第四部分 */
#section4 {
    width: 100%;
    height: 340px;
    background-image: url(../images/pic_2.png);
    background-size: cover;
    z-index: 1;
}
#section4 .shade{
    width: 100%;
    height: 100%;
    background-color: rgba(169,52,50,0.2);
}
#section4 .vertical-center-container {
    text-align: center;
    width: 100%;
    padding: 0 125px;
    transform: translateY(-80%);
} 
.search {
    margin: 43px auto 0; 
}
.select {
    width: 236px;
    height: 36px;
    line-height: 36px;
    background-color: #ffffff;
    margin-right: 28px;
    padding: 0 12px;
    text-align: left;
    float: left;
    position: relative;
}
.select:hover {
    border: solid 1px #be4e48;
}
.select .fa-angle-down {
    background-color: #be4e48;
    color: #ffffff;
    position: absolute;
    right: 9px;
    top: 9px;
}
ul.select-area {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e3e3e5;
    border: solid 1px #be4e48;
    border-top: none;
    list-style-type: none;
    display: none;
}
[type=checkbox] {
    display: none;
}
[type=checkbox]:checked ~ ul.select-area {
    display: block;
}
.select-item {
    width: 100%;
    height: 27px;
    line-height: 27px;
    padding-left: 12px;
    color: rgba(50,51,51,0.7); 
}
.select-item.checked {
    background-color: #be4e48;
    color: #ffffff;
}
#section4 button.no-border {
    width: 236px;
    height: 36px;
    background-color: #bf4f49;
    font-size: 14px;
    float: left;
}
/*第五节*/
#section5 {
    width: 100%;
    height: 605px;
    background-color: #f7f7f7;
}
#section5 .vertical-center-container {
    width: 1000px;
}
#section5 .snapshot {
    width: 220px;
    text-align: center;
    float: left;
    margin-right: 40px;
}
#section5 .snapshot:last-child {
    margin-right: 0;
}
.snapshot .frame {
    padding: 11px 8px;
    background-color: #ffffff;
    margin-top: 10px;
}
.snapshot.checked h4 {
    font-size: 21px;
    letter-spacing: 34px;
}
/* 第六部分 */
#section6 {
    width: 100%;
    height: 570px;
}
#section6 .column, #section7 .column {
    width: 33.3%;
    text-align: center;
}
#section6 .column:first-child {
    width: 66.6%;
    background-image: url(../images/pic_7.png);
    background-size: cover;
}
#section6 .column:first-child p {
    font-size: 21px;
}
#section6 h1 {
    font-size: 158px;
    margin-top: -40px;
}
#section6 p {
    line-height: 2.5;
    margin-top: 21px;
}
#section6 button {
    width: 107px;
    height: 35px;
    font-size: 12px;
    margin-top: 50px;
}
ul.pagination {
    list-style-type: none;
    overflow: auto;
    margin: 25px auto 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.pagination li{
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px #919192;
    margin: 0 7px;
}
.pagination li.checked{
    background-color: #919192;
}
/* 第七部分 */
#section7 {
    width: 100%;
    height: 520px;
}
#section7 .column:last-child {
    background-image: url(../images/pic_8.png);
    background-size: cover;
}
#section7 .column:last-child .shade {
    background-color: rgba(50,51,51,0.4);
    width: 100%;
    height: 100%;
}
#section7 button {
    width: 170px;
    height: 44px;
    margin-top: 25px;
}
#section7 hr {
    margin-top: 25px;
}
/* 第八部分 */
#section8 {
    width: 100%;
    height: 750px;
}
#section8 .vertical-center-container {
    width: 80%;
    text-align: center;
}
#section8 .vertical-center-container>*:first-child {
    margin-bottom: 107px;
}
#section8 hr {
    margin-bottom: 15px;
}
#section8 .column {
    width: 60%;
    text-align: left;
}
#section8 .column:first-child {
    width: 30%;
}
#section8 .fa-angle-down::before {
    vertical-align: 4px;
}
#section8 .h4 {
    margin-bottom: 27px;
}
#section8 .p {
    line-height: 1.75
}
.info {
    margin-top: 40px;
    text-align: left;
}
.btn-more {
    display: inline-block;
    text-align: right;
    color: #aaaaaa;
}
#section8 button.text-input {
    width: 100%;
    color: rgba(35,24,21,0.8);
    font-family: SimHei, "黑体", sans-serif;
}
/* 第九部分 */
#section9 {
    width: 100%;
    height: 360px;
    background-color: #32353e;
}
#section9 .vertical-center-container {
    text-align: center;
}
#section9 .contact {
    margin: 30px auto;
    display: inline-block;
}
#section9 .contact input[type=text]{
    width: 430px;
    height: 40px;
    border: none;
    padding-left: 10px;
}
#section9 .contact button{
    width: 80px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
}
#section9 .icon {
    margin: 0 14px;
}
/* footer 部分 */
footer .vertical-center-container {
    width: 100%;
    height: 100%;
    line-height: 56px;
    padding-left: 100px;
    background-color: #2f3039;
}
a.btt {
    text-decoration: none;
    position: absolute;
    right: 40px;
}
a.btt:link, a.btt:hover, a.btt:visited {
    color: #ffffff;
}v